@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}

:root {
  --fel-card-color: rgb(6, 167, 68);
  --fel-review-color: rgb(0, 0, 0);

  --fel-card-border-radius: 10px;
}

.flex-container {
  display: flex;
}

.card {
  flex-direction: column;
  background-color: var(--fel-card-color);
  row-gap: 15px;
  text-align: center;
  padding-bottom: 10px;
  border-radius: var(--fel-card-border-radius);
  border: 1px solid black;
}

.card-img > img {
  border-top-left-radius: var(--fel-card-border-radius);
  border-top-right-radius: var(--fel-card-border-radius);
  max-width: 300px;
}

.card-body {
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
}

.card-body > input {
  width: 80%;
}

.card-body > p {
  font-weight: 500;
}

.prod-review {
  flex-direction: column;
  background-color: var(--fel-card-color);
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.5rem;
}

#prod-color {
  display: inline-block;
  background-color: white;
  width: 25px;
  height: 25px;
}
